body{
             background-image:url("17.gif");
             background-repeat:no-repeat;
             background-position:left center ;
             }

h1{color:purple;
        font-size:50px;
        text-align:right ;
         
          }

 
